*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0px;
    height: 100%;
    background-image: url("../photo/tooth2.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    display: flex;
    justify-content: space-between;
}

/* Title Efect */
.title_span {

    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 30px;
}

h1 {
    color: rgb(198, 198, 198);
    width: 308px;
    margin-left: 21px;
    margin-top: 48px;
    text-align: center;
    font-size: 100px;
    overflow: hidden;
    line-height: 1;
    /* box-shadow: 0px 0px 29px rgb(165 168 165); */
}

.title_span,
h1,
span {
    display: block;
    animation: reveal 2.5s cubic-bezier(0.43, 0.41, 0.23, 1.01) 0.5s
}

@keyframes reveal {
    0% {
        transform: translate(60%, 120%);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Menu */
ul {
    margin-left: 100px;
    margin-top: 30px;
    font-family: "Chivo Mono", monospace;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

ul li {
    list-style: none;
}

ul li a {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    transition: 0.5s ease;
}

ul:hover li a {
    color: #30edf4;
}

ul:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

.emergency {
    background-color: #cc2222;
}

/* Drop down menu */

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}


h2,
h3 {
    font-size: 28px;
    padding-top: 30px;
    margin-bottom: 60px;
}


.scheme_style {

    margin: 150px 85px;
    font-size: 22px;
    background-color: rgb(79 81 78 / 50%);
    box-shadow: -1px 4px 15px 10px rgb(36 55 36);
    color: rgb(255, 255, 255);
    text-align: center;
}

hr {
    margin-left: 15%;
    margin-right: 15%;
}

.scheme_style__div {
    font-family: 'Sorts Mill Goudy', serif;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    margin-right: 25%;
    margin-left: 25%;
}

/* Cards Mid */
.background_mid {
    margin: 19px;
    box-shadow: -1px 4px 15px 10px rgb(193, 193, 193);
    padding: 1px;
    background-color: #cdcdcdfc;
}


.mid_cards {

    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 150px 85px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
}


.mid_cards:hover .cards {
    color: white;
    cursor: pointer;
    transition: 1.1s;

}

.mid_cards:hover .cards:not(:hover) {
    color: #edebeb;
    opacity: 0.5;
    filter: blur(3px);
    transition: 1.1s;
}

.cards {
    border-radius: 5px;
    font-family: 'Sorts Mill Goudy', serif;
    flex: 1 1 100px;
    box-shadow: -1px 4px 15px 10px rgb(0, 0, 0);
    background-color: #343434;
    ;

}

.icons {
    font-size: 55px;
    margin: 36px 36px;
}

/* IMG USERS */
.user_img_container {
    justify-content: center;
    display: flex;
    gap: 300px;
    margin-left: 250px;
    margin-right: 266px;
    margin-bottom: 85px;
}

.user_img_cards {
    font-size: 35px;
    color: white;
    text-align: center;
}

.user_img {
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    margin-bottom: 30px;
    border-radius: 177px;
    width: 348px;
}

.user_img:hover {
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
    cursor: pointer;
}

/* FORM COINTAINER */
form {
    margin-left: 25%;
    margin-right: 25%;
}

.form_container {
    color: #edebeb;
    box-shadow: -1px 4px 15px 10px rgb(193, 193, 193);
    text-align: center;

    background-color: rgb(44 71 70 / 94%);
    height: auto;
}

.p_in_form {
    border-top: double;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 23px;
}

.input_cointainer {
    margin: 20px;
    text-align: -webkit-center;
}

.form_help_input {
    text-align: center;
    font-size: 22px;
    font-family: 'Sorts Mill Goudy', serif;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    background-color: bisque;
    border: none;
    width: -webkit-fill-available;
    display: block;
    transition: all 0.3s;
    height: 150px;

}

.form__label {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
    margin-top: 7px;
    transition: all 0.3s;
    transform: translateY(0px);
}

.form__input {
    text-align: center;
    font-size: 22px;
    font-family: 'Sorts Mill Goudy', serif;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    background-color: bisque;
    border: none;
    width: -webkit-fill-available;
    display: inline-flex;
    transition: all 0.3s;

}

.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(+4rem);
    transform: translateY(+4rem);
}

.form_help_input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(+4rem);
    transform: translateY(+4rem);
}

.input_flex {
    gap: 95px;
    display: flex;
    justify-content: space-between;
}

.agree_text {
    width: auto;
    font-family: 'Sorts Mill Goudy', serif;
    padding-bottom: 40px;
    font-size: 18px;
    margin-right: 25%;
    margin-left: 25%;
    text-align: left;
}

.agree_input {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: space-between;

}

button:hover {
    box-shadow: 0px 0px 23px;
    cursor: pointer;
    background-color: bisque;
}

button {
    margin: 15px;

    font-family: 'Sorts Mill Goudy', serif;
    height: 35px;
    width: 210px;
    font-size: 16px;
}

footer {
    display: flex;
    height: auto;
    background-color: white;
}

section {

    width: fit-content;
    height: auto;
    padding-top: 5%;
    padding-left: 13%;
    padding-bottom: 5%;
}

/* dental clinic contact footer */
.line {
    margin-bottom: 40px;
    width: 60px;
    border: 3px solid #2d722d;
    border-radius: 5px;
}

h4 {
    font-size: 21px;
    margin-bottom: 14px;
}

.footer_ul {
    gap: 50px;
    display: grid;
    font-size: 20px;
}

.footer_li {
    display: flex;
}

p {
    margin-left: 50px;
}

/* working time */

tbody {
    line-height: 44px;
}

td {
    padding-right: 60px;
}

/* linkfooter */
.a_footer {
    margin-left: 30px;
    text-decoration: none;
    color: #000000;
}

.a_footer:hover {
    color: #2d722d;
}

.section3 {
    line-height: 2;
    font-size: 20px;
}